SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = 'e6999ac68d52bfb7ba47e3f2f779a225'
API_SECRET = '8yEc6T_9GCIFQl6UFzl6mJ2jL1YkCFWc'
