<div class="sidebar-background">
    <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

    <!-- Main nav -->
    <ul class="nav navbar-collapse collapse navbar-collapse-primary">


        <li class="active">
            <span class="glow"></span>
            <a href="dashboard.html">
                <i class="icon-dashboard icon-2x"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="dark-nav ">

            <span class="glow"></span>


            <a class="accordion-toggle collapsed " data-toggle="collapse" href="dashboard.html#yJ6h3Npe7C">
                <i class="icon-beaker icon-2x"></i>
                    <span>
                      UI Lab
                      <i class="icon-caret-down"></i>
                    </span>

            </a>

            <ul id="yJ6h3Npe7C" class="collapse ">

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/ui_lab/buttons.html">
                        <i class="icon-hand-up"></i> Buttons
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/ui_lab/general.html">
                        <i class="icon-beaker"></i> General elements
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/ui_lab/icons.html">
                        <i class="icon-info-sign"></i> Icons
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/ui_lab/grid.html">
                        <i class="icon-th-large"></i> Grid
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/ui_lab/tables.html">
                        <i class="icon-table"></i> Tables
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/ui_lab/widgets.html">
                        <i class="icon-plus-sign-alt"></i> Widgets
                    </a>
                </li>

            </ul>

        </li>


        <li class="">
            <span class="glow"></span>
            <a href="http://beer2code.com/themes/core-admin-3/pages/forms/forms.html">
                <i class="icon-edit icon-2x"></i>
                <span>Forms</span>
            </a>
        </li>


        <li class="">
            <span class="glow"></span>
            <a href="http://beer2code.com/themes/core-admin-3/pages/charts/charts.html">
                <i class="icon-bar-chart icon-2x"></i>
                <span>Charts</span>
            </a>
        </li>


        <li class="dark-nav ">

            <span class="glow"></span>


            <a class="accordion-toggle collapsed " data-toggle="collapse" href="dashboard.html#WLGsdJPav9">
                <i class="icon-link icon-2x"></i>
                    <span>
                      Others
                      <i class="icon-caret-down"></i>
                    </span>

            </a>

            <ul id="WLGsdJPav9" class="collapse ">

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/other/wizard.html">
                        <i class="icon-magic"></i> Wizard
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/other/login.html">
                        <i class="icon-user"></i> Login Page
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/other/sign_up.html">
                        <i class="icon-user"></i> Sign Up Page
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/other/full_calendar.html">
                        <i class="icon-calendar"></i> Full Calendar
                    </a>
                </li>

                <li class="">
                    <a href="http://beer2code.com/themes/core-admin-3/pages/other/error404.html">
                        <i class="icon-ban-circle"></i> Error 404 page
                    </a>
                </li>

            </ul>

        </li>


    </ul>

    <div class="hidden-sm hidden-xs">
        <div class="text-center" style="margin-top: 60px">
            {% include 'includes/gallery.html' %}
        </div>

        <hr class="divider" style="margin-top: 10px">

        <div class="sparkline-box side">

            <div class="sparkline-row">
                <h4 class="gray"><span>Orders</span> 847</h4>

                <div class="sparkline big" data-color="gray"><!--16,7,23,13,12,11,15,4,19,18,4,24--></div>
            </div>

            <hr class="divider">
            <div class="sparkline-row">
                <h4 class="dark-green"><span>Income</span> $43.330</h4>

                <div class="sparkline big" data-color="darkGreen"><!--6,3,24,25,27,29,14,26,20,8,12,20--></div>
            </div>

            <hr class="divider">
            <div class="sparkline-row">
                <h4 class="blue"><span>Reviews</span> 223</h4>

                <div class="sparkline big" data-color="blue"><!--11,19,20,20,5,18,11,6,16,20,26,11--></div>
            </div>

            <hr class="divider">
        </div>
    </div>

</div>