<div class="sidebar-background">
    <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

    <!-- Main nav -->
    <ul class="nav navbar-collapse collapse navbar-collapse-primary">


        <li class="{% if view == 'home' %}active{% endif %}">
            <span class="glow"></span>
            <a href="/home">
                <i class="icon-dashboard icon-2x"></i>
                <span>上传历史</span>
            </a>
        </li>
        <li class="{% if view == 'album' %}active{% endif %}">
            <span class="glow"></span>
            <a href="/albumclass">
                <i class="icon-bar-chart icon-2x"></i>
                <span>相册</span>
            </a>
        </li>
        <li class="{% if view == 'timeline' %}active{% endif %}">
            <span class="glow"></span>
            <a href="/timeline">
                <i class="icon-beaker icon-2x"></i>
                <span>时间回味</span>
            </a>
        </li>
        <li class="{% if view == 'map' %}active{% endif %}">
            <span class="glow"></span>
            <a href="/map">
                <i class="icon-edit icon-2x"></i>
                <span>地图</span>
            </a>
        </li>



    </ul>

    <div class="hidden-sm hidden-xs">
        <div class="text-center" style="margin-top: 60px">
            {% include 'includes/gallery.html' %}
        </div>

        <hr class="divider" style="margin-top: 10px">

    </div>

</div>