{% load staticfiles %}
<li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" src="{% static 'images/avatar1.png' %}"></div>
    <div class="info">
                    <span class="name">
                    <span class="label label-green">上传照片</span> <strong
                            class="indent">^_^</strong> 分享一个瞬间？<strong>Photo Theater</strong>
                    </span>
        <span class="time"><i class="icon-time"></i>{% now "Y-m-d" %} </span>
    </div>
    <div class="content">
        <div class="box-content">
            <div class="row">
                <form id="form" class="fill-up" method="post" action="">{% csrf_token %}
                    <input type="hidden" name="photo_list" value="[]" id="photo_list"/>

                    <div class="col-lg-6">
                        <style>
                            #box {
                                margin: 50px auto;
                                width: 540px;
                                min-height: 400px;
                                background: #EEEEEE
                            }
                        </style>
                        <div id="box">
                            <div id="up_photo"></div>
                        </div>

                    </div>
                    <script language="JavaScript">
                        $(function () {
                            $('#up_photo').diyUpload({
                                url: '/uploadPhoto',
                                success: function (data) {
                                    console.info(data);
                                },
                                error: function (err) {
                                    console.info(err);
                                }
                            });
                        });

                    </script>
                    <div class="col-lg-6">

                        <ul class="padded separate-sections">
                            <label>新建/选择相册</label>
                            <li>
                                <label>新建相册</label>
                                <input id="selectnewalbum" type="checkbox" class="iButton-icons" checked="checked"
                                       name="newalbum" new='true' onchange="selectchanged()"/>
                                <script>
                                    function selectchanged() {
                                        console.log($('#selectnewalbum').attr('new'))
                                        if ('true' === $('#selectnewalbum').attr('new')) {
                                            $('#newalbum').hide();
                                            $('#oldalbum').show();
                                            $('#selectnewalbum').attr('new', 'false');
                                        } else {
                                            $('#newalbum').show();
                                            $('#oldalbum').hide();
                                            $('#selectnewalbum').attr('new', 'true');
                                        }

                                    }
                                </script>
                            </li>
                            <li id="newalbum">
                                <input type="text" placeholder="新建相册名称" name="newalbumname"/>
                            </li>
                            <li id="oldalbum" style="display: none;">

                                <select class="chzn-select" name="albumname">
                                    {% for Album in album_list %}
                                        <option value="{{ Album.id }}">{{ Album.name }}</option>
                                    {% endfor %}
                                </select>
                            </li>

                            <li class="input">
                                <label>选择心情</label>
                                <style>
                                    .input .clearfix li {
                                        float: left;
                                        width: 20%;
                                        margin-bottom: 5px;
                                        text-align: center;
                                        list-style: none;
                                    }

                                    .input .clearfix input {
                                        width: 20% !important;
                                    }
                                </style>
                                <ul class="clearfix">
                                    {% include 'includes/emotion.html' %}

                                </ul>
                            </li>
                            <li class="input">
                                <label>添加照片评价</label>
                                <textarea placeholder="记录每一刻……" rows="3" name="comment"></textarea>
                            </li>
                        </ul>
                        <div class="form-actions">
                            <button onclick="ajaxSubmit()" type="button" class="btn btn-blue">&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;</button>
                        </div>
                        <script>
                            function ajaxSubmit() {
                                $.ajax({
                                    cache: true,
                                    type: "POST",
                                    url: '/home/',
                                    data: $('#form').serialize(),// 你的formid
                                    async: false,
                                    error: function (request) {
                                        console.log(request.responseText);
                                    },
                                    success: function (origindata) {
                                        var data = JSON.parse(origindata);
                                        if (data.noticeType === 'success') {
                                            window.location.href = '/home/?noticeType=success&noticeTitle=上传成功&noticeText=%20';
                                        }else if(data.noticeType === 'info'){
                                            window.location.href = '/home/?noticeType=info&noticeTitle=部分上传成功&noticeText='+data.noticeText;
                                        }else {
                                            Growl[data.noticeType]({
                                                title: data.noticeTitle,
                                                text: data.noticeText
                                            });
                                        }
                                    }
                                });
                            }
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</li>

