{% load staticfiles %}
<li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" src="{% static 'images/avatar1.png' %}"></div>
    <div class="info">
                    <span class="name">
                    <span class="label label-green">上传照片</span> <strong
                            class="indent">^_^</strong> 分享一个瞬间？<strong>Photo Theater</strong>
                    </span>
        <span class="time"><i class="icon-time"></i>{ date }} </span>
    </div>
    <div class="content">
        <div class="box-content">
            <div class="row">
                <form class="fill-up" method="post" action="/test/showReq">{% csrf_token %}
                    <input type="hidden" name="photo_list" value="[]" id="photo_list" />
                    <div class="col-lg-6">
                        <style>
                            #box {
                                margin: 50px auto;
                                width: 540px;
                                min-height: 400px;
                                background: #EEEEEE
                            }
                        </style>
                        <div id="box">
                            <div id="up_photo"></div>
                        </div>

                    </div>
                    <script language="JavaScript">
                        $(function () {
                            $('#up_photo').diyUpload({
                                url: '/uploadPhoto',
                                success: function (data) {
                                    console.info(data);
                                },
                                error: function (err) {
                                    console.info(err);
                                }
                            });
                        });

                    </script>
                    <div class="col-lg-6">

                        <ul class="padded separate-sections">
                            <label>新建/选择相册</label>
                            <li>
                                <label>新建相册</label>
                                <input id="selectnewalbum" type="checkbox" class="iButton-icons" checked="checked"
                                       name="newalbum" new='true' onchange="selectchanged()"/>
                                <script>
                                    function selectchanged() {
                                        console.log($('#selectnewalbum').attr('new'))
                                        if ('true' === $('#selectnewalbum').attr('new')) {
                                            $('#newalbum').hide();
                                            $('#oldalbum').show();
                                            $('#selectnewalbum').attr('new', 'false');
                                        } else {
                                            $('#newalbum').show();
                                            $('#oldalbum').hide();
                                            $('#selectnewalbum').attr('new', 'true');
                                        }

                                    }
                                </script>
                            </li>
                            <li id="newalbum">
                                <input type="text" placeholder="新建相册名称" name="newalbum"/>
                            </li>
                            <li id="oldalbum" style="display: none;">

                                <select class="chzn-select" name="album">
                                    {% for Album in album_list %}
                                        <option value="{{ Album.name }}">{{ Album.name }}</option>
                                    {% endfor %}
                                </select>
                            </li>

                            <li class="input">
                                <label>选择心情</label>
                                <style>
                                    .input .clearfix li {
                                        float: left;
                                        width: 20%;
                                        margin-bottom: 5px;
                                        text-align: center;
                                        list-style: none;
                                    }

                                    .input .clearfix input {
                                        width: 20% !important;
                                    }
                                </style>
                                <ul class="clearfix">
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==1?this.className:''"
                                        onclick="check(this, 1)" class="">
                                        <input type="radio" name='emotion' value='开心'/><span>开心</span>
                                        <img id="mood_1" src="{% static "images/mood00.png" %}" title="记上一笔，hold住我的快乐！"
                                             alt="开心">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==2?this.className:''"
                                        onclick="check(this, 2)" class="">
                                        <input type="radio" name='emotion' value='得意'/><span>得意</span>
                                        <img id="mood_2" src="{% static "images/mood01.png" %}" title="晃着大脑袋，给你讲诉我的故事！~"
                                             alt="得意">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==3?this.className:''"
                                        onclick="check(this, 3)" class="">
                                        <input type="radio" name='emotion' value='无聊'/><span>无聊</span>
                                        <img id="mood_3" src="{% static "images/mood02.png" %}"
                                             title="为了维护宇宙和平，打起精神来！~~" alt="无聊">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==4?this.className:''"
                                        onclick="check(this, 4)" class="">
                                        <input type="radio" name='emotion' value='郁闷'/><span>郁闷</span>
                                        <img id="mood_4" src="{% static "images/mood03.png" %}" title="没有开心，哪来的幸福？要开心哦"
                                             alt="郁闷">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==5?this.className:''"
                                        onclick="check(this, 5)">
                                        <input type="radio" name='emotion' value='伤心'/><span>伤心</span>
                                        <img id="mood_5" src="{% static "images/mood04.png" %}" title="格式化自己，只为删除那些不愉快！"
                                             alt="伤心">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==6?this.className:''"
                                        onclick="check(this, 6)">
                                        <input type="radio" name='emotion' value='狂喜'/><span>狂喜</span>
                                        <img id="mood_6" src="{% static "images/mood10.png" %}" title="哈哈~~我hold不住了！"
                                             alt="狂喜">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==7?this.className:''"
                                        onclick="check(this, 7)" class="">
                                        <input type="radio" name='emotion' value='大哭'/><span>大哭</span>
                                        <img id="mood_7" src="{% static "images/mood11.png" %}"
                                             title="人生太多事，今天就在这里大哭一次，希望在明天！" alt="大哭">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==8?this.className:''"
                                        onclick="check(this, 8)" class="">
                                        <input type="radio" name='emotion' value='无憾'/><span>无憾</span>
                                        <img id="mood_8" src="{% static "images/mood12.png" %}" title="为了明天的无憾，今天来烧香拜佛~"
                                             alt="无憾">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==9?this.className:''"
                                        onclick="check(this, 9)">
                                        <input type="radio" name='emotion' value='牛逼'/><span>牛逼</span>
                                        <img id="mood_9" src="{% static "images/mood13.png" %}"
                                             title="今天人人都太牛逼，真是太强大了~~~" alt="牛逼">
                                    </li>
                                    <li onmouseover="this.className='current'"
                                        onmouseout="this.className=$('moodid').value==10?this.className:''"
                                        onclick="check(this, 10)" class="">
                                        <input type="radio" name='emotion' value='傻眼'/><span>傻眼</span>
                                        <img id="mood_10" src="{% static "images/mood14.png" %}"
                                             title="人生太多无奈，今天的事让我真是傻眼呀！" alt="傻眼">
                                    </li>

                                </ul>
                            </li>
                            <li class="input">
                                <label>添加照片评价</label>
                                <textarea placeholder="记录每一刻……" rows="3" name="comment"></textarea>
                            </li>
                        </ul>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-blue">&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</li>

