{% extends "base.html" %}
{% block page_description %} 照片分类管理 {% endblock %}
{% load staticfiles %}
{% block content %}
    {% regroup photo_list by album as objects_by_album %}
    {% for album in objects_by_album %}
    <div class="box">
        <div class="box-header">
            <div class="title">{{ album.grouper.name }}</div>
        </div>

        <div class="box-content">
            <!-- find me in partials/gallery -->

            <div id="thumbs">
                {% for photo in album.list %}
                <a
                   value="{{ photo.id }}"
                   style="background-image:url({{ photo.thumb.url }})"
                   title="{{ photo.name }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <script>
    $(function(){
        $('#thumbs a').click(function(){
            var locate = $(this).attr('value');
            window.location = "/photo/" + locate;
        })
    })
    </script>
{% endblock %}