{% extends "html.html" %}
{% block body %}

<!-- nav header field  begin -->
{% include "includes/navBar.html" %}
<!-- nav header field  end -->
<!-- sidebar  -->
{% include "includes/sideBar.html" %}
<!-- sidebar end -->
<div class="main-content">
    <div class="container">
        <div class="row">

            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-dashboard"></i>
                        {{ page_name }}
                    </h3>
                    <h5>
            <span>
              {% block page_description %} page_description {% endblock %}
            </span>
                    </h5>
                </div>

                <ul class="list-inline pull-right sparkline-box">

                    <li class="sparkline-row">
                        <h4 class="blue"><span>本月提交</span>
                            {{ photo_number_this_month }}
                        </h4>
{# todo foreach the uploads by days #}
                        <div class="sparkline big" data-color="blue"><!--50,11,5,28,25,19,27,6,4,23,20,6--></div>
                    </li>

                    <li class="sparkline-row">
                        <h4 class="green"><span>共有照片</span>
                            {{ photo_number }}
                        </h4>

                        <div class="sparkline big" data-color="green"><!--28,26,13,18,8,6,24,19,3,6,19,6--></div>
                    </li>

                    <li class="sparkline-row">
                        <h4 class="red"><span>还未评价</span>
                            {{ photo_number_uncomment }}
                        </h4>

                        <div class="sparkline big"><!--16,23,28,8,12,9,25,11,16,16,17,13--></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container padded">
        <div class="row">

            <!-- Breadcrumb line -->

            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><i class="icon-home"></i> {{Title}}</span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>


                <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="icon-dashboard"></i> {{ SubTitle}}
          </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>



</div>
{% endblock %}