{% extends "base.html" %}
{% block title %}
    照片上传
{% endblock %}
{% block page_description %} 记录生活中的每个瞬间 {% endblock %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'diyUpload/css/webuploader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'diyUpload/css/diyUpload.css' %}">
    <script type="text/javascript" src="{% static 'diyUpload/js/webuploader.html5only.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'diyUpload/js/diyUpload.js' %}"></script>
    <div class="row">
        <div class="col-md-12">

            <ul class="chat-box timeline">
                {% include 'includes/upload.html' %}
                {% regroup photo_list by upload_date|date:"Y-m-d" as objects %}
                {% for object in objects %}
                    <li class="arrow-box-left gray">
                        <div class="avatar"><img class="avatar-small" src="{% static 'images/avatar1.png' %}"></div>
                        <div class="info">
                    <span class="name">
                    <span class="label label-purple">Adding Photos</span> <strong
                            class="indent">User</strong> Comment <strong> &nbsp;</strong>
                    </span>
                            <span class="time"><i class="icon-time"></i> {{ object.grouper }} </span>
                        </div>
                        <div class="content">
                            <ul class="thumbnails padded">
                                {% for photo in object.list %}
                                    <li class="col-md-3">
                                        <a href="/photo?id={{ photo.id }}" class="thumbnail">
                                            <img src="{{ photo.thumb.url }}" style="width: 240px;height: 100px;" alt="">
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>


        </div>
    </div>
{% endblock %}