{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <script src="{% static 'javascripts/jquery.min.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<div id="map" style="width: 100%;height: 600px;"></div>
    <script>
// Provide your access token
    L.mapbox.accessToken = 'pk.eyJ1IjoibGl1OTQ2IiwiYSI6ImNpZmR6cDM2aTY3eXpzNG03OW16Y29qcXQifQ.CO_oNudpBtnPN26dIu3Wug';


    var imageUrl = 'https://farm4.staticflickr.com/3731/14101168818_932d707f90_o.jpg'
    $(function(){
        slideShow();
        var imageUrl = 'https://farm4.staticflickr.com/3731/14101168818_932d707f90_o.jpg',
        imageBounds = L.latLngBounds([
        [45.712216, 126.82655],
        [45.773941, 126.92544]]);
        rand = [45.712216, 126.82655];

        var map= L.mapbox.map('map', 'mapbox.streets');
        for(var i=0;i<10;i++){
            rand[0]+= Math.random()-0.5;
            rand[1]+= Math.random()-0.5;

            imageBounds = L.latLngBounds([
            rand,
            [rand[0]+0.10, rand[1]+0.18]]);
            map.fitBounds(imageBounds);
            var overlay = L.imageOverlay(imageUrl, imageBounds)
            .addTo(map);
        }

    });

</script>

{% endblock %}