{% extends "base.html" %}
{% block title %}
    照片地图
{% endblock %}
{% block page_description %} 在地图上查看照片 {% endblock %}
{% load staticfiles %}
{% block content %}
    <script src="{% static 'javascripts/jquery.min.js' %}"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.css' rel='stylesheet' />
    <div id="map" style="width: 100%;height: 600px;"></div>
    <script>
        // Provide your access token
        mapboxgl.accessToken = 'pk.eyJ1IjoibGl1OTQ2IiwiYSI6ImNpZmR6cDM2aTY3eXpzNG03OW16Y29qcXQifQ.CO_oNudpBtnPN26dIu3Wug';

        $(function () {
            slideShow();
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v8',
                center: [126.82655,45.712216],
                zoom: 10
            });
            var tooltip = [];
            {% for photo in photo_list %}
            tooltip.push(new mapboxgl.Popup({closeOnClick: false})
                    .setLngLat([{{ photo.longitude }},{{ photo.latitude }}])
                    .setHTML('<a href="/photo/{{ photo.id }}"><img style="width:80px" src="{{ photo.thumb.url }}" />')
                    .addTo(map));
            {% endfor %}
        });

    </script>

{% endblock %}