<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="margin: 0px; height: 824px;">
    <script>
        document.getElementsByTagName("body").
    </script>
    <iframe height="100%" style="border: 0px;" width="80%" src="/test?v=filter"></iframe>
    <style>
        .info{
            display: block;
            width: 20%;
            position: absolute;
            height: 824px;
            top: 0px;
            left: 80%;
            background: #303030;
        }
    </style>
    <div class="info"></div>
</body>
</html>