{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <link href="{% static 'timeline/css/about.css' %}" rel="stylesheet" type="text/css">
    <div style="width: 80%;    margin-left: 10%;">
        <ul class="event_year">

            {% regroup photo_list by shot_date|date:"Y" as objects_by_Year %}
            {% for year in objects_by_Year %}
            <li class="current"><label for="{{ year.grouper }}">{{ year.grouper }}</label></li>
            {% endfor %}
        </ul>

        <ul class="event_list">
            {% regroup photo_list by shot_date|date:"Y" as objects_by_Year %}
            {% for year in objects_by_Year %}
                <div>
                <h3 id="{{ year.grouper }}">{{ year.grouper }}</h3>
                {% for yeardata in year.list %}
                    {% regroup year.list by shot_date|date:"M" as objects_by_Month %}
                    {% for month in objects_by_Month %}
                        <li>
                        <span>{{ month.grouper }}</span>
                        <p><span>
                            {% for photo in month.list %}
                                <img src="{{ photo.thumb }}" style="width: 120px;height: 128px;" class="img-thumbnail">
                            {% endfor %}
                        </span></p>
                        </li>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endfor %}
        </ul>

        <div class="clearfix"></div>

    </div>
    <script>
        $(function () {
            $('label').click(function () {
                $('.event_year>li').removeClass('current');
                $(this).parent('li').addClass('current');
                var year = $(this).attr('for');
                $('#' + year).parent().prevAll('div').slideUp(800);
                $('#' + year).parent().slideDown(800).nextAll('div').slideDown(800);
            });
        });
    </script>
    </div>
{% endblock %}